torch
torchvision
torchaudio
torchmetrics
transformers==4.49.0
datasets==3.3.2
evaluate==0.4.3
svgpathtools==1.6.1
rich==13.9.4
timm==1.0.15
huggingface_hub
opencv-python
matplotlib
scikit-image
ftfy
regex
tqdm
nest_asyncio
av
openai
cairosvg
lpips
hpsv2x
vtracer
pyppeteer
moviepy
cd-fvd